[
    {
        "id": "8750", 
        "content": [
            {"image": "game/in_domain/8750/8750_0.jpg", "text": ["and I just-"]}, 
            {"image": "game/in_domain/8750/8750_1.jpg", "text": [" "]}, 
            {"image": "game/in_domain/8750/8750_2.jpg", "text": ["It's in Wilmington."]}, 
            {"image": "game/in_domain/8750/8750_3.jpg", "text": ["- I can't cross it. - No, I understand that. That's okay."]}, 
            {"image": "game/in_domain/8750/8750_4.jpg", "text": ["- I gotta go. - Where are you going?"]}, 
            {"image": "game/in_domain/8750/8750_5.jpg", "text": [" "]}, 
            {"image": "game/in_domain/8750/8750_6.jpg", "text": ["But, you know, at the same time, I have this line..."]}, 
            {"image": "game/in_domain/8750/8750_7.jpg", "text": ["Come by."]}, 
            {"image": "game/in_domain/8750/8750_8.jpg", "text": ["- I got a match. - A match?"]}, 
            {"image": "game/in_domain/8750/8750_9.jpg", "text": ["When is it? What?"]}
        ]
    }
]